h1{
	color:blue;
	font-size:60px;
	background-color:black
}



p
{
	color:white;
	font-size:30px;
	background-color:red
	
	
}

.one
{
font-size:35px;	
}
.two
{
	font-size=7px
}